.App{
    background-color: #212529;
}

.span1 {
    font-family:'Noto Serif Display' ;
    font-size: 40px;
    color: #ffc107;
}
.spanlink{
    font-family:'Noto Serif Display' ;
    color: #f7cb47;
    font-size: 20px;
    
}
.unorderList{ 
    display: flex;
    font-size:'Noto Serif Display';
}
.footerlist{
    font-family:'Noto Serif Display';
    font-size: 30px;
    color: #f7cb47;
}
.ending{
    color: grey;
}

.text-p{
    font-size: 20px;
    font-family:'Noto Serif Display';
    color: #f7cb47;
    
}
.car-img{
    width: 100%;
    
}
.icon{
    color: #f7cb47;
    width: 30px;
}

.listlink{
    margin: 3rem;
}



.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}

.contentPage{
    height: 20px;
    width: 10px;
    padding-right: 200px;
}

.contentPart{
    margin-bottom: 30px;
}
.contentWords{
    font-family:'Noto Serif Display' ;
    color: #f7cb47;
    size: 40px;
}
.cut1{
    background-color: #4b4b4b;
}



/*body { overflow-x: hidden; }*/
