App{
    background-color: rgb(44, 44, 44);
}

.span1 {
    font-family:'Noto Serif Display' ;
    font-size: 50px;
    color: #ffc107;
}
.spanlink{
    font-family:'Noto Serif Display' ;
    color: #f7cb47;
    font-size: 30px;
}
    



   