.App{
    background-color: #212529;
    width: 100%;
    height: auto;
}

.span1 {
    font-family:'Noto Serif Display' ;
    font-size: 40px;
    color: #ffc107;
}
.spanlink{
    font-family:'Noto Serif Display' ;
    color: #f7cb47;
    font-size: 20px;
    
}
.unorderList{ 
    display: flex;
    font-size:'Noto Serif Display';
}
.footerlist{
    font-family:'Noto Serif Display';
    font-size: 30px;
    color: #f7cb47;
}
.ending{
    color: grey;
}

.text-p{
    font-size: 20px;
    font-family:'Noto Serif Display';
    color: #f7cb47;
    
}
.car-img{
    width: 100%;
    
}
.icon{
    color: #f7cb47;
    width: 30px;
}

.listlink{
    margin: 3rem;
}
.modal-img{
    width: 200px;
    height: 200px;
}

/*body { overflow-x: hidden; }*/
